*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body .inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
/* body{
    background-color: #1A0B2E;
} */
/* sharde style design */
.btn-premary{
    font-size: 16px;
    font-weight: 600px;
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(to right, #F7E93F,#FB09B4,#9100F8);
}
.btn-second{
    font-size: 16px;
    font-weight: 600px;
    color: #00FF88;
    padding: 12px 16px;
    border-color: #00FF88;
    border-radius: 50px;
    cursor: pointer;
    background: none;
}

header{
    background: #1A0B2E;
    
}
 

/* navbar design */
nav{
    max-width: 1400px;
    color: white;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    
}

nav>p{
    font-size: 32px;
    font-family: inter;

}
nav>p>span{
    background: linear-gradient(to right, #F7E93F,#FB09B4,#9100F8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div{
    display: flex;
    gap: 32px;
    align-items: center;
    font-family: inter;
    cursor: pointer;
}

.menu-bar{
    display: none;
}

/* header banner section design */
#main-bg{
    background-image: url(./pic/hero-bg.png);
    width: 100%;
    height: 760px;
    
}

.header-banner{
    max-width: 550px;
    height: 560px;
    background-image: url(./pic/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.header-banner img{
    /* border: 1px solid black; */
    margin-right: 90px;
}
.header-banner>p{
    background: #00FF88;
    color:black;
    padding: 5px 10px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    position: relative;
    left: 40%;
    bottom: 28%;
}

.header-contaient{
    /* display: inline; */
    /* margin: 0 auto;
    align-items: center;
    justify-content: center; */
    border: 1px solid wheat;
    
}

.main-text{
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    font-family: inter;
}

.main-pera{
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 24px;
    font-family: inter;
}

.button{
    align-items: center;
    justify-content: center;
}

/* about podcast section design */

#podcast-sec{
    background-color: #1A0B2E;
    padding-bottom: 120px;
}
.podcast{
    color: white;
    font-size: 48px;
    font-weight: bold;
    font-family: inter;
    text-align: center;
    padding-top: 50px;
}

.podcast-pera{
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 24px;
    font-family: inter;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 80px;
}
hr{
    max-width: 1200px;
    margin: 0 auto;
    
}

.about-title{
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid gainsboro; */
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
}

.about-contain{
    display: inline;
    

}
.about-contain>h2{
    font-size: 48px;
    font-weight: bolder;
    color: #00FF88;

}

.about-contain>p{
    font-size: 16px;
    color: white;
    padding-top: 10px;
    text-transform: uppercase;
}


#choose-sec{
    background-color: #230E3D;
}
#choose-sec>h1{
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 120px;
    font-family: inter;
    padding-bottom: 2em;

}

.choose-section{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
    /* grid-gap: 10px; */
}

.choose-section{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 7.5em;
}
#box-1{
    grid-row: span 4;
    grid-column: span 4;
}

#box-2{
    grid-column: span 8;
    grid-row: span 2;
}
#box-3{
    grid-column: span 8;
    grid-row: span 2;
}
#box-4{
    grid-column: span 8;
    grid-row: span 2;
}
#box-5{
    grid-column: span 4;
    grid-row: span 4;
}

.box-1, .box-2,.box-3, .box-4, .box-5{
    background-color: rgba(53, 17, 101, 0.4);
    display: inline;
    border-radius: 25px;
    
}
.box-1>img{
    padding-top: 50px;
    padding-left: 20px;
}
.box-2>img{
    padding-top: 50px;
    padding-left: 20px;
}
.box-3>img{
    padding-top: 50px;
    padding-left: 20px;
}
.box-4>img{
    padding-top: 50px;
    padding-left: 20px;
}
.box-5>img{
    padding-top: 50px;
    padding-left: 20px;
}
.box-1>h4{
    font-size: 1.8em;
    font-weight: 600;
    color: white;
    padding: 16px 0 16px 20px;
}
.box-2>h4{
    font-size: 1.8em;
    font-weight: 600;
    color: white;
    padding: 16px 0 16px 20px;
}
.box-3>h4{
    font-size: 1.8em;
    font-weight: 600;
    color: white;
    padding: 16px 0 16px 20px;
}
.box-4>h4{
    font-size: 1.8em;
    font-weight: 600;
    color: white;
    padding: 16px 0 16px 20px;
}
.box-5>h4{
    font-size: 1.8em;
    font-weight: 600;
    color: white;
    padding: 16px 0 16px 20px;
}

.box-1>p{
    font-size: 16px;
    font-family: inter;
    color: white;
    padding: 16px 20px 107px 20px;
}
.box-2>p{
    font-size: 16px;
    font-family: inter;
    color: white;
    padding: 0 20px 40px 20px;
}
.box-3>p{
    font-size: 16px;
    font-family: inter;
    color: white;
    padding: 16px 20px 20px 20px;
}
.box-4>p{
    font-size: 16px;
    font-family: inter;
    color: white;
    padding: 16px 20px 107px 20px;
}
.box-5>p{
    font-size: 16px;
    font-family: inter;
    color: white;
    padding: 16px 20px 107px 20px;
}


/* episode card design */

#episode-sec{
    background-color: #1A0B2E;
    padding-top: 200px;
    padding-bottom: 200px;
}

.episode{
    display: flex;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 30px;
    margin-top: 40px;
    background-color: #1A0B2E;
}
.episode-card{
    max-width: 380px;
    height: 440px;
    display: inline;
    border-radius: 20px;
    background-color: rgba(37, 13, 68, 1);
    box-shadow: 0 4px 4px 0;

}

.episode-headertxt{
    color: white;
    font-size: 48px;
    font-weight: bold;
    font-family: inter;
    text-align: center;
}

.card-header{
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding: 24px 24px 12px 24px;
}

.episode-card>p{
    font-size: 16px;
    color: whitesmoke;
    padding: 24px 24px 12px 24px;
}

.card-timer{
    font-size: 16px;
    color: #00FF88;
    padding: 0 24px 12px 24px;
}

.host-title{
    color: white;
    font-size: 48px;
    font-weight: bold;
    font-family: inter;
    text-align: center;
    margin: 120px;
}

.host{
    max-width: 1200px;
    background:rgba(37, 13, 68, 1) ;
    margin: 0 auto;
    border-radius: 20px;

}

.host-image{
    padding: 40px 24px 40px 40px;
}
.meet-host{
    display: inline;
    padding: 50px 40px 50px 0;
}

.host-name{
    font-size: 24px;
    color: white;
    padding-bottom: 16px;
}

.meet-host>p{
    font-size: 16px;
    color: white;
    padding-bottom: 16px;
}

.social-icon{
    gap: 8px;
    align-items: center;
   
}

.social-icon>img{
    height: 40px;
    width: 40px;
    border: 1px solid #533C72;
    padding: 10px;
    border-radius: 50%;
    
}

footer{
    background-image: url(./pic/footer-bg.png);
    width: 100%;
    height: 412px;
    padding-top: 150px;
}
.footer-logo{
    font-size: 64px;
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: inter;
}

.footer-logo>span{
        background: linear-gradient(to right, #F7E93F,#FB09B4,#9100F8);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.footer-icon{
    max-width: 544px;
    margin: 0 auto;
    align-items: center;
    color: white;
    font-size: 16px;
    gap: 40px;

}
footer>p{
    font-size: 1.2em;
    color: white;
    text-align: center;
    margin-top: 32px;
    font-family: inter;
}


@media screen and (max-width: 576px){
    .menu, #btn-1{
        display: none;
    }
    .menu-bar{
        display: block;
    }
    header{
        padding: 0 10px;
    }

    .about-title{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding-left: 10px;
    }

    .choose-section{
        display: inline;
    }

    .episode{
        display: inline;

    }
    .episode-card{
        padding: 30px;
        max-width: 380px;
        height: 440px;
        display: inline;
        border-radius: 20px;
        background-color: rgba(37, 13, 68, 1);
        box-shadow: 0 4px 4px 0;
    }

    .host{
        display: inline;
        text-align: center;
        
    }

    .host-image{
        align-items: center;
        justify-content: center;
    }
    .social-icon{
        align-items: center;
        justify-content: center;
    }

    footer{
    background-image: url(./pic/footer-bg.png);
    width: 576px;
    /* height: 412px; */
    padding-top: 150px;
}
